<div   class="card table-card">
    <div   class="card-header d-flex align-items-center justify-content-between">
        <h5  >Application Sales</h5><a   class="link-primary">View
            all</a>
    </div>
    <div   class="card-body">
        <div   class="table-responsive">
            <table   class="table table-hover mb-0 table-borderless">
                <thead  >
                    <tr  >
                        <th  >Application</th>
                        <th  >Sales</th>
                        <th  >Avg Price</th>
                        <th  >Total</th>
                    </tr>
                </thead>
                <tbody  >
                    <tr   class="ng-star-inserted">
                        <td  >
                            <div   class="d-inline-block align-middle">
                                <h5  >Able Pro</h5>
                                <p   class="text-muted m-b-0">Powerful Admin Theme</p>
                            </div>
                        </td>
                        <td  >16,300</td>
                        <td  >$53</td>
                        <td   class="text-primary">$15,652</td>
                    </tr>
                    <tr   class="ng-star-inserted">
                        <td  >
                            <div   class="d-inline-block align-middle">
                                <h5  >PhotoShop</h5>
                                <p   class="text-muted m-b-0">Design Software</p>
                            </div>
                        </td>
                        <td  >26,421</td>
                        <td  >$35</td>
                        <td   class="text-primary">$18,785</td>
                    </tr>
                    <tr   class="ng-star-inserted">
                        <td  >
                            <div   class="d-inline-block align-middle">
                                <h5  >GuruAble</h5>
                                <p   class="text-muted m-b-0">Best Admin Template</p>
                            </div>
                        </td>
                        <td  >8,265</td>
                        <td  >$98</td>
                        <td   class="text-primary">$9,652</td>
                    </tr>
                    <tr   class="ng-star-inserted">
                        <td  >
                            <div   class="d-inline-block align-middle">
                                <h5  >FlatAble</h5>
                                <p   class="text-muted m-b-0">Admin App</p>
                            </div>
                        </td>
                        <td  >10,652</td>
                        <td  >$20</td>
                        <td   class="text-primary">$7,856</td>
                    </tr><!---->
                </tbody>
            </table>
        </div>
        <div   class="text-center"><a  
                class="b-b-primary text-primary">View all Projects</a></div>
    </div>
</div>