<div role="document" class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 id="exampleModalCenterTitle" class="modal-title"> Edit Customere </h5><button type="button"
                data-bs-dismiss="modal" aria-label="Close" (click)="closeDialog()" class="btn-close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="chat-avtar d-inline-flex mx-auto"><img src="assets/images/user/avatar-5.jpg"
                            alt="User image" class="rounded-circle img-fluid wid-70" /></div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-label">code</label>
                            <input type="text" [(ngModel)]="data.code" placeholder="code" name="code"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">designation</label>
                            <input type="text" placeholder="designation" [(ngModel)]="data.designation" name="designation"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">prixAchat</label>
                            <input type="number" placeholder="prixAchat" [(ngModel)]="data.prixAchat" name="prixAchat"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">prixVente</label>
                            <input type="number" placeholder="prixVente" [(ngModel)]="data.prixVente" name="prixVente"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label 
                                class="form-label">Default select</label>
                                <select title="select"  class="form-select" [(ngModel)] ="data.categorie">
                                <option *ngFor="let item of listCategorie"  [ngValue]=" item">{{ item.designation }}</option>
                                
                            </select></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">

                <div class="flex-grow-1 text-end"><button type="button" data-bs-dismiss="modal"
                        class="btn btn-link-danger" (click)="closeDialog()">Cancel</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
                        (click)="doAction()">Add</button>
                </div>

            </div>
        </div>
    </div>