
<app-card cardTitle="List Categorie" blockclass="table-border-style">
    <div class="dataTable-top d-flex justify-content-between">
      <div class="dataTable-dropdown">
        <select title="Select items per page" name="pageSize" class="form-select ng-untouched ng-pristine ng-valid" style="width: auto" [(ngModel)]="selectedPageSize"
       >
          <option   value="5">5 items per page</option>
          <option   value="10">10 items per page</option>
          <option   value="20">20 items per page</option>
          <option   value="50">50 items per page</option>
        </select>
      </div>
      <div class="dataTable-search d-flex align-items-center">
        <div class="col-xs-3 col-sm-auto me-2">
          <input
  
            id="table-complete-search"
            type="text"
            name="searchTerm"
            placeholder="Search..."
            class="form-control ng-untouched ng-pristine ng-valid"
          />
        </div>
        <div class="col-md-6">
          <a href="javascript:" data-bs-toggle="modal" class="btn btn-primary" (click)="openModal()"> <i class="ti ti-plus f-18"></i> Add Facture </a>
        </div>
      </div>
    </div>
    <div style="overflow: hidden">
      <div class="card-body table-border-style ng-star-inserted">
        <table   class="table table-hover mb-0 table-borderless">
            <thead  >
                <tr  >
                    <th>Date</th>
                    <th>client</th>
                    <th>prix</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody >
                <tr class="ng-star-inserted" *ngFor="let fac of factures" >
                    <td >
                       
                            <h5  >{{ fac.date }}</h5>
                    </td>
                    <td  >{{ fac.client }}</td>
                    <td  >$53</td>
                    <td   class="text-primary">$15,652</td>
                </tr>
                <tr   class="ng-star-inserted">
                    <td  >
                        <div   class="d-inline-block align-middle">
                            <h5  >PhotoShop</h5>
                            <p   class="text-muted m-b-0">Design Software</p>
                        </div>
                    </td>
                    <td  >26,421</td>
                    <td  >$35</td>
                    <td   class="text-primary">$18,785</td>
                </tr>
                <tr   class="ng-star-inserted">
                    <td  >
                        <div   class="d-inline-block align-middle">
                            <h5  >GuruAble</h5>
                            <p   class="text-muted m-b-0">Best Admin Template</p>
                        </div>
                    </td>
                    <td  >8,265</td>
                    <td  >$98</td>
                    <td   class="text-primary">$9,652</td>
                </tr>
                <tr   class="ng-star-inserted">
                    <td  >
                        <div   class="d-inline-block align-middle">
                            <h5  >FlatAble</h5>
                            <p   class="text-muted m-b-0">Admin App</p>
                        </div>
                    </td>
                    <td  >10,652</td>
                    <td  >$20</td>
                    <td   class="text-primary">$7,856</td>
                </tr>
            </tbody>
        </table>
            <td mat-cell *matCellDef="let element">
              <ng-container class="action-cell" >
                <button type="button" class="btn btn-icon btn-link-secondary d-inline-flex" (click)="showRow(element)">
                  <i class="ti ti-eye f-18"></i>
                </button>
                <div class="d-inline-flex" style="width: 10px"></div>
                <button type="button" class="btn btn-icon btn-outline-primary d-inline-flex" (click)="editRow(element)">
                  <i class="ti ti-edit"></i>
                </button>
                <div class="d-inline-flex" style="width: 10px"></div>
                <button type="button" class="btn btn-icon btn-outline-danger d-inline-flex" (click)="deleteRow(element)">
                  <i class="ti ti-trash"></i>
                </button>
              </ng-container>
            </td>
      </div>
  
      <div class="d-flex justify-content-end p-2">
          <ngb-pagination
          [collectionSize]="totalRecords"
          [(page)]="page"
          [boundaryLinks]="true"
          [pageSize]="this.selectedPageSize"
          (pageChange)="onPageChange($event)"/>
        </div>
    </div>
  </app-card>